1. Write Python code that prints your name, student number and email address.  
An example runs of the program:

In [2]:
print("Bob ST1001 bob@gmail.com")

Bob ST1001 bob@gmail.com

2.Write Python code that prints your name, student number and email address using escape sequences.

In [5]:
print("Bob\tST1001\tbob@gmail.com")

Bob	ST1001	bob@gmail.com

3.Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.

In [8]:
num1 = 14
num2 = 7

print(f"{num1} + {num2} = {num1 + num2}")
print(f"{num1} * {num2} = {num1 * num2}")
print(f"{num1} - {num2} = {num1 - num2}")
print(f"{num1} / {num2} = {num1 / num2}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

4: Display numbers from 1 to 5 as steps

In [11]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

5.Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:

In [16]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n \"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
 "IDE" stands for "Integrated Development Environment".

6.Practice and check the output

In [19]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")   # ASCII value for 65
print("\x65")  # Hexadecimal value for 65
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

7.Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?

In [22]:
num = 23
textnum = "57"
decimal = 98.3

# Print the types of each variable
print(f"Type of num: {type(num)}")
print(f"Type of textnum: {type(textnum)}")
print(f"Type of decimal: {type(decimal)}")

# Convert textnum to integer and calculate sum
sum_values = num + int(textnum) + decimal
print(f"The sum of the variables is: {sum_values}")
print(f"Type of the sum: {type(sum_values)}")

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>
The sum of the variables is: 178.3
Type of the sum: <class 'float'>

8.calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [25]:
# Defining variables for each unit of time
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

# Calculate total minutes in a year
total_minutes_in_year = days_in_year * hours_in_day * minutes_in_hour
print("The total number of minutes in a year is:", total_minutes_in_year)

The total number of minutes in a year is: 525600

9.Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [30]:
name = input("Please enter your Name:")
print (f'Hi {name},Welcome to Python programming:)')

Please enter your Name: tony

Hi tony,Welcome to Python programming:)

10. Name your file: PoundsToDollars.py
Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [33]:

conversion_rate = 1.36
pounds = float(input("Please enter amount in pounds: "))
dollars = pounds * conversion_rate
print(f"£{pounds} are ${dollars:.2f}")

Please enter amount in pounds:  120

£120.0 are $163.20