Topic :List
Exercise
Q1. Create a list of 5 random numbers and print the list.
Q2. Insert 3 new values to the list and print the updated list.
Q3. Try to use a for loop to print each element in the list.

In [2]:
# Creating a list with 5 random numbers
random_numbers = [3,98,67,45,34]

# Printing the list
print("The random  list:", random_numbers)

The random  list: [3, 98, 67, 45, 34]

In [4]:
# Inserting 3 new values to the list
random_numbers.append(10)  
random_numbers.append(22) 
random_numbers.append(103)
# Printing the updated list
print("Updated list:", random_numbers)

Updated list: [3, 98, 67, 45, 34, 10, 22, 103]

In [6]:
# Using a for loop to print each element in the list
print("List elements:")
for num in random_numbers:
    print(num)

List elements:
3
98
67
45
34
10
22
103

Topic: Dictionary
Exercise 
Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.

In [11]:
# Creating a dictionary with the specified keys and values
person = {'name': 'John',
          'age': 25,
          'address': 'New York'}

# Printing the dictionary
print("Dictionary created:", person)

Dictionary created: {'name': 'John', 'age': 25, 'address': 'New York'}

In [13]:
# Adding a new key-value pair to the dictionary
person['phone'] = '1234567890'

# Printing the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

Topic: Set
Exercise  
Q1.Create a set with values 1, 2, 3, 4, and 5.
Q2. Add the value 6 to the set created in Q1.
Q3. Remove the value 3 from the set created in Q1.

In [16]:
# Creating a set with the specified values
myfirst_set = {1, 2, 3, 4, 5}

# Printing the set
print("Set created:", myfirst_set)

Set created: {1, 2, 3, 4, 5}

In [18]:
# Adding the value 6 to the set
myfirst_set.add(6)

# Printing the updated set
print("Set after adding 6:", myfirst_set)

Set after adding 6: {1, 2, 3, 4, 5, 6}

In [20]:
# Removing the value 3 from the set
myfirst_set.remove(3)

# Printing the updated set
print("Set after removing 3:", myfirst_set)

Set after removing 3: {1, 2, 4, 5, 6}

Topic:Tuple
Exercise 
Q1. Create a tuple with values 1, 2, 3, and 4
Q2. Print the length of the tuple created in Q1.

In [24]:
# Creating a tuple with the specified values
my_tuple = (1, 2, 3, 4)

# Printing the tuple
print("Tuple created:", my_tuple)

Tuple created: (1, 2, 3, 4)

In [26]:
# Printing the length of the tuple
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4